body{
    padding: 0%;
    margin: 0%;
}
#all{
    width: 1024px;
    border: 3px crimson solid;
    margin: auto;
}

header{
    width: 100%;
    height: 135px;
    background-color: white;
    text-align: center;
}

nav{
    width: 100%;
    height: 146px;
    background-color: crimson;

}

nav ul{

    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{

    width: 100%;
    float: left;
    text-align: center;

}

nav ul li a{

    background-color: crimson;
    color: white;
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px 0 5px 0;
    font-family: fantasy;
}

a:hover{

    background-color: rgb(0, 0, 0);
}


section{

    width: 50%;
    height: 770px;
    float: left;
    background-color: gainsboro;

}

section img{

    margin: 20px 0 20px 20px;
    border: 40px solid rgb(127, 0, 25);
    border-style: double;

}

aside{

    width: 50%;
    height: 770px;
    float: left;
    text-align: center;
    background-color: gainsboro;


}

aside img{

    margin-bottom: 20px;

}

aside h1{

    margin: 40px 0 20px 0;
    font-family: fantasy;
    font-size: xx-large;
}
aside p{

    margin: 0 30px 20px 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: medium;

}

aside a{

    margin-top: 0%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgb(127, 0, 25);
    text-decoration: none;
}

footer{
    width: 100%;
    height: 45px;
    background-color: crimson;
    clear: both;

}

footer pre{
  
    text-align: center;
    float: left;
    padding-top: 15px;
    margin:0%;
    
}

#footer3{

    vertical-align: top;
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

footer img{

    text-align: center;
    float:right;
    padding: 10px 10px 10px 10px;
    margin: 0%;
}


#logo {
    width: 70px;
    height: 100px;
    float: left;
    padding-left: 20px;
}

#logo2 {
    width: 70px;
    height: 100px;
    float: right;
    padding-right: 20px;

}

#logoX{

    width: 30px;
    height: 30px;

}

#titulo {
    font-size: 70px;
    text-align: center;
    color: crimson;
    font-family: fantasy;
}

#img1{

    width: 400px;
    height:650px;
}

#img2{

    width: 150px;
    height: 200px;

}